body {
    font-size: 15pt;
    background-color: #181818;
    color:aquamarine;
    font-family: 'open sans', sans-serif;
    font-size: 16px;
}
h2 {
  color: #836fff;
}
button {
  background-color: #836FFF;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 5px;
}
input {
  padding: 8px;
  border-radius: 5px;
  border: 0;background-color: #4e4e4e;
  color: aquamarine;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.coluna {
  flex: 1 1 30%;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;

}

.container-form {
  display: flex; /* Habilita o Flexbox no contêiner */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  width: 70%; /* Define a largura do contêiner */
}
.item-form {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  margin: 10px 0;
}
.tipo {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: rgb(153, 255, 0);
}

.circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(153, 255, 0);
  border: 2px solid rgb(153, 255, 0);
  margin: 10px 10px 10px ;
  transition: background-color 0.5s ease;
  
}